.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  column-gap: var(--sp-2);

  color: var(--text);
}

.text {
  font-size: var(--m-font);
}
