.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: var(--sp);

  margin-top: var(--sp);
}

.wrapper .label {
  font-size: var(--m-font);
}
