.card-container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 5fr 2fr auto auto;
  grid-template-areas: "checkbox description status edit delete" "checkbox deadline status edit delete";

  row-gap: var(--sp);
  column-gap: var(--sp-2);
  padding: var(--sp-2);
  border-radius: var(--sp-2);

  background-color: var(--card-bg);
  color: var(--text);
  border: var(--thin) solid var(--line);
}

.card-container.no-deadline {
  grid-template-rows: 1fr;
  grid-template-areas: "checkbox description status edit delete";
}

.checkbox {
  grid-area: checkbox;
  align-self: center;

  --button-bg: inherit;
  --button-text: var(--text);

  box-sizing: content-box;
  height: var(--l-font);
  font-size: var(--l-font);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--sp);
  border-radius: var(--sp-2);

  border: var(--thin) solid var(--card-clickable);
}

.description {
  grid-area: description;
  font-size: var(--l-font);
  line-height: var(--base-line-height);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deadline {
  grid-area: deadline;
  font-size: var(--s-font);
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  grid-area: status;
  align-self: center;
  justify-self: center;
  display: flex;

  padding: var(--sp) var(--sp-2);
  border-radius: var(--sp-2);

  font-size: var(--s-font);
}

.status.issued {
  background-color: var(--card-status-issued-bg);
  color: var(--card-status-issued-color);
}

.status.closed {
  background-color: var(--card-status-closed-bg);
  color: var(--card-status-closed-color);
}

.status.expired {
  background-color: var(--card-status-expired-bg);
  color: var(--card-status-expired-color);
}

.button {
  height: var(--sp-4);

  align-self: center;
  color: var(--card-clickable);
  cursor: pointer;
}

.button svg {
  height: 100%;
  width: auto;
}

.button:hover {
  color: var(--card-clickable-hover);
}

.button.edit {
  grid-area: edit;
}

.button.delete {
  grid-area: delete;
}
