.search-container {
  grid-area: search;

  box-sizing: content-box;
  height: var(--m-font);
  width: max-content;
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: row;
  column-gap: var(--sp);
  padding: var(--sp) var(--sp-2);

  border-radius: var(--sp);

  background-color: var(--input-bg);
  color: var(--placeholder);
  outline: var(--thin) solid var(--line);
}

.search-container input {
  background-color: inherit;
  color: var(--text);
}

.search-container input::placeholder {
  color: var(--placeholder);
}

.search-container svg {
  height: 100%;
  width: auto;
}
