.sidebar {
  grid-area: sidebar;
  width: 12rem;
  /* hardcoded */
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "logo" "tablist";

  padding: var(--sp-3);
  row-gap: var(--sp-2);

  background-color: var(--sidebar-bg);
}

.logo {
  grid-area: logo;

  width: 100%;
  height: auto;

  color: var(--sidebar-logo);
}
