.filters-container {
  grid-area: filters;
  height: 100%;
  width: 15rem; /* hardcoded */
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: var(--sp-2);
  padding: var(--sp-2);

  background-color: var(--filters-bg);
  border-right: var(--thin) solid var(--line);

  font-size: var(--m-font);
  color: var(--text);
}

.label {
  width: 100%;
  text-align: center;
  padding-bottom: var(--sp-2);
  border-bottom: var(--thin) solid var(--line);
  font-size: var(--l-font);
  font-weight: var(--bold-font-weight);
}
